<script>
	var imageUrls = {}
	imageUrls["github"] = "<%= image_path('github.png') %>"
	imageUrls["linkedin"] = "<%= image_path('linkedin.gif') %>"
	imageUrls["photo"] = "<%= image_path('photo.jpg') %>"

	imageUrls["projects/scbt"] = "<%= image_path('projects/scbt.jpg') %>"
	imageUrls["projects/monitor"] = "<%= image_path('projects/monitor.jpg') %>"
	imageUrls["projects/space"] = "<%= image_path('projects/space.jpg') %>"
	imageUrls["projects/carlisle"] = "<%= image_path('projects/carlisle.jpg') %>"
	imageUrls["projects/rnfc"] = "<%= image_path('projects/rnfc.jpg') %>"

	<% if flash[:notice] %>
		alert('<%= flash[:notice] %>')
	<% end %>
</script>