<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid" id="nav-container">
		<div class="navbar-header navbar-left">
			<button type="button" class="navbar-toggle collapsed fade-button" data-toggle="collapse" data-target="#gerald-nav">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<h4 id="gerald-title" class="gerald-text">Gerald Ding</h4>
		</div>

		<div class="collapse navbar-collapse navbar-right" id="gerald-nav">
		  <ul class="nav navbar-nav">
		  	<li ng-click="selectNav()"><a href="#">Home</a></li>
		    <li ng-click="selectNav()"><a href="#profile">Profile</a></li>
		    <li ng-click="selectNav()"><a href="#projects">Projects</a></li>
		    <li ng-click="selectNav()"><a href="#">Education</a></li>
		    <li ng-click="selectNav()"><a href="#contact">Contact</a></li>
		  </ul>
		</div>
	</div>
</nav>